.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: white;
}

.page {
    padding: 1rem 1.5rem;
    border-radius: 4px;
    background: var(--elements);
}

.page.active {
    background: white;
    color: black;
}
