@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: var(--white);
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    font-family: 'Nunito Sans', sans-serif;
}



.app-container {
    --elements: hsl(209, 23%, 22%);
    --background: hsl(207, 26%, 17%);
    --text: hsl(0, 0%, 100%);
}

.app-container * {
    -webkit-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}

.app-container.light {
    --text: hsl(200, 15%, 8%);
    --background: hsl(0, 0%, 98%);
    --elements: hsl(0, 0%, 100%);
}

.container {
    max-width: 127rem;
    margin: 0 auto;
}