.country-info-container {
    background-color: var(--background);
    min-height: calc(100vh - 7rem);
    color: var(--text);
    font-weight: 600;
    padding-top: 6rem;
}

.button {
    background-color: var(--elements);
    padding: 0.8rem 3.2rem;
    outline: none;
    border: none;
    border-radius: 5px;
    color: inherit;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    cursor: pointer;
}

.back.button {
    padding: 0.8rem 3.2rem 0.8rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: max-content;
}

.back.button svg {
    fill: var(--text);
    transform: rotate(45deg);
    width:30px;
    height: 25px;
}

.details {
    display: flex;
    gap: 13rem;
    align-items: center;
    padding: 6rem 0;
}

@media (max-width: 1250px) {
    .details {
        gap: 5rem;
    }
}

.logo-container {
    flex: 1 1 100%;
}

.logo {
    width: 100%;
}

.information {
    flex: 1 1 100%;
    width: 100%;
}


.name {
    font-size: 3rem;
}

.description {
    margin: 3rem 0 6.5rem; 
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.3px;
} 

@media (max-width: 1000px) {
    .details {
        flex-direction: column;
        gap: 7rem;
    }

    .description {
        justify-content: flex-start;
        gap: 6rem;
    }
}

@media (max-width: 650px) {
    .description {
        flex-direction: column;
        gap: 4rem;
    }
}

.description > div > p:not(:last-child) {
    margin-bottom: 0.5rem;
}

.light {
    font-weight: 300;
    color: hsl(0, 0%, 90%);
}

.app-container.light .light {
    color: hsl(0, 0%, 10%);
}

.border span {
    margin-right: 1rem;
}

.border a {
    font-size: 1.2rem;
    margin-right: 5px;
}