.nav {
    background-color: var(--elements);
    color: var(--text);
    border-bottom: 3px solid rgba(0, 0, 0, 0.05);
}

.nav-container {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-heading {
    font-size: 2rem;
}



.color-switcher {
    background: none;
    border: none;
    outline: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    flex-basis: 20rem;
}

.nav .color-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-switcher svg {
    fill: hsl(0, 0%, 98%);
    transform: scale(0.6) rotate(-45deg) translateY(-5px);
    flex: 0.25;
}

.color-switcher.light svg {
    fill: black;
}

